node_modules
dist
out
coverage

Dockerfile*
docker-compose*
.dockerignore

.git
.gitignore
README.md
LICENSE

.vscode
.idea
.DS_Store

.env
.env.*

logs
*.log

.eslintcache
.cache
*.tsbuildinfo

temp
plans
docs
